* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}




.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 550px;
    border: 1px solid rgb(81, 75, 121);
    border-radius: 50%;
    box-shadow: 0px 0px 10px white;
    background-color: rgb(81, 75, 121);
   
    
   
    h1 {
        text-align: center;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 4rem;
        z-index: -1;
    }
}


@media(max-width:800px){
    .clock{
        width: 400px;
        height: 400px;
        h1{
            font-size: 3rem;
        }
    }
}